*.gem
*.rbc
.bundle
.config
.yardoc
.sass-cache
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
npm-debug.log
bower_components/
node_modules/
build/
dist/
chef-web-core-*.tgz
source/guide/
lib/assets/images/source/icons/
spec/dummy/rails/Gemfile.lock
spec/dummy/rails/log/*.log
