*.gem
*.rbc
.bundle
.config
.yardoc
.sass-cache
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
bower_components/
node_modules/
build/
source/guide/
spec/dummy/rails/log/*.log
