<header class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/" class="logo horizontal" data-tag-line="Style Guide"></a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section main">
      <ul>
        <li><%= link_to 'Getting Started', '/getting-started' %></li>
        <li><%= link_to 'Documentation', guide_path %></li>
        <li><%= link_to 'Contributing', '/contributing' %></li>
        <!-- 
          <li class="has-form">
          <a href="#" class="button">Get Chef</a>
          </li> 
        -->
      </ul>
    </section>
  </nav>
</header>
