<header class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation" style="border-bottom:1px #a4aaaf solid">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/" class="logo-subsite">CHEF <span class="logo-subsite-name">STYLEGUIDE</span</a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul>
        <li><%= link_to 'Getting Started', '/getting-started' %></li>
        <li><%= link_to 'Documentation', guide_path %></li>
        <li><%= link_to 'Contributing', '/contributing' %></li>
        <!-- 
          <li class="has-form">
          <a href="#" class="button">Get Chef</a>
          </li> 
        -->
      </ul>
      <ul class="right">
        <li class="divider"></li>
        <li>
          <a href="https://www.chef.io">
            <div class="logo mark"></div>
          </a>
        </li>
      </ul>

    </section>
  </nav>
</header>
