<header>
  <nav class="top-bar" data-topbar data-global="style" role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>
          <% link_to "/" do %>
            <%= image_tag "logo-horiz-light-style_guide.svg",
            :onerror => "this.src='#{image_path "logo-horiz-light-style_guide.png"}'" %>
          <% end %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <div class="top-bar-section">
      <ul class="left">
        <li><%= link_to 'Getting Started', '/getting-started' %></li>
        <li><%= link_to 'Component Documentation', guide_path %></li>
        <li><%= link_to 'Contributing', '/contributing' %></li>
      </ul>
    </div>
  </nav>
</header>
