<header class="contain-to-grid">
  <nav class="top-bar" role="navigation">
    <h1>
      <% link_to "/" do %>
        <span class="chef">Chef</span> Style
      <% end %>
    </h1>
    <i class="nav-icon fi-list"></i>
    <ul>
      <li><%= link_to 'Getting Started', '/getting-started' %></li>
      <li><%= link_to 'Documentation', guide_path %></li>
      <li><%= link_to 'Contributing', '/contributing' %></li>
    </ul>
    <%= chef_logo :a, :class => "logo mark", :href => chef_www_url %>
  </nav>
</header>
