---
title: Basics
layout: hologram
---

<ul class="sub-nav">
  
    <li>
      
      <a href="/guide/basics">Basics</a>
    </li>
  
</ul>
      <h1 id="h1">H1</h1>
<div class="codeExample"><div class="exampleOutput">      <h1>This Is a Heading</h1>
</div><div class="codeBlock"><div class="highlight"><pre>      <span class="nt">&lt;h1&gt;</span>This Is a Heading<span class="nt">&lt;/h1&gt;</span>
</pre></div></div></div>
<h1 id="h2">H2</h1>
<div class="codeExample"><div class="exampleOutput">      <h2>This Is a Subhead</h2>
</div><div class="codeBlock"><div class="highlight"><pre>      <span class="nt">&lt;h2&gt;</span>This Is a Subhead<span class="nt">&lt;/h2&gt;</span>
</pre></div></div></div>