<div class="example">
  <h6>React JSX</h6>
  <div class="example-code">
    <div class="highlight">
      <pre><%= code_example %></pre>
    </div>
  </div>
  <h6>Rendered</h6>
  <div class="example-rendered">
    <div id="jsx-example"></div>
    <script type='text/jsx'>
      <%= rendered_example %>
    </script>
  </div>
</div>

