<div class="example">
  <h6>Source</h6>
  <div class="example-code">
    <div class="highlight">
      <pre><%= code_example %></pre>
    </div>
  </div>
  <h6>Rendered</h6>
  <div class="example-rendered">
    <%= rendered_example %>
  </div>
</div>
