<header class="container">
  <div class='container container-fix hidden-xs hidden-phone'>
    <div class='row'>
      <div class='span12 col-md-12'>
        <div class='sign-in-container text-right'>
          <div class='login-links'>
            <a href='//supermarket.getchef.com'>Community</a>
            <a href='//www.getchef.com/blog/'>Blog</a>
            <a href='//www.getchef.com/support/'>Support</a>
            <a href='//www.getchef.com/account/'>Account</a>
            <a href='https://manage.opscode.com/'>Management Console</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='main-nav' class='container' data-spy="affix" data-offset-top="20" data-offset-bottom="200">

    <nav class='navbar navbar-default oc-navbar-default' role='navigation'>
      <div class='row'>
        <div class='span12 col-md-12'>
          <div class='navbar-inner navbar-header'>

            <a class='logo' href='//www.getchef.com/'>
              <img alt='Chef' onerror='this.src=//www.getchef.com/images/logo.png' src='//www.getchef.com/images/logo.svg' title='Chef'>
            </a>

            <button  type="button" class="navbar-toggle" data-toggle='collapse' data-target='#c-navbar'>
              <span class="sr-only">Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>

          </div>

          <div class='collapse nav-collapse navbar-collapse navbar-right' id='c-navbar'>
            <ul class='nav navbar-nav oc-navbar'>
              <li>
                <a href='//www.getchef.com/chef/'>
                  What Is Chef?
                </a>
              </li>
              <li>
                <a href='http://learn.getchef.com/'>
                  Learn Chef
                </a>
              </li>
              <li>
                <a href='//www.getchef.com/resources/'>
                  Resources
                </a>
              </li>
              <li class="getchef-box">
                <div id="getchef-button">
                  <div class="scene">
                    <div class="cube">
                      <div class="cube-face cube-face-front">
                        <div class="cube-content">
                          <a href='//www.getchef.com/chef/choose-your-version/' class="navbar-callout">Get Chef</a>
                        </div>
                      </div>
                      <!--<div class="cube-face cube-face-left hidden-xs hidden-sm"></div>-->
                    </div>
                  </div>
                  <div class="choose-content text-left"></div>
                </div>
              </li>
              <li id="responsive-sign-links" class="visible-phone visible-xs">
                  <ul>
                    <li>
                        <a href='//supermarket.getchef.com'>Community</a>
                    </li>
                    <li>
                        <a href='//www.getchef.com/blog/'>Blog</a>
                    </li>
                    <li>
                        <a href='//www.getchef.com/support/'>Support</a>
                    </li>
                    <li>
                        <a href='//www.getchef.com/account/'>Account</a>
                    </li>
                    <li>
                        <a href='https://manage.opscode.com/'>Management Console</a>
                    </li>
                  </ul>
              </li>
    
            </ul>
          </div>

        </div>
      </div>
    </nav>
  </div>
</header>


