<footer>
  <div class='container'>
    <div class='row'>
      <div class='span12'>
        <div>
          <div class='row'>
            <div class='span2'>
              <h5>
                Products
              </h5>
              <ul>
                <li>
                  <a href='//www.getchef.com/chef/'>Chef</a>
                </li>
                <li>
                  <a href='//www.getchef.com/enterprise-chef/'>Enterprise Chef</a>
                </li>
              </ul>
            </div>
            <div class='span2'>
              <h5>
                Solutions
              </h5>
              <ul>
                <li>
                  <a href='//www.getchef.com/solutions/aws/'>Amazon Web Services</a>
                </li>
                <li>
                  <a href='//www.getchef.com/solutions/cloud-management/'>Cloud Management</a>
                </li>
                <li>
                  <a href='//www.getchef.com/coded-business/'>Coded Business</a>
                </li>
                <li>
                  <a href='//www.getchef.com/solutions/configuration-management/'>Configuration Management</a>
                </li>
                <li>
                  <a href='//www.getchef.com/solutions/docker/'>Containers</a>
                </li>
                <li>
                  <a href='//www.getchef.com/solutions/continuous-delivery/'>Continuous Delivery</a>
                </li>
                <li>
                  <a href='//www.getchef.com/solutions/devops/'>DevOps</a>
                </li>
                <li>
                  <a href='//www.getchef.com/solutions/google-cloud-platform/'>Google Cloud Platform</a>
                </li>
                <li>
                  <a href='//www.getchef.com/solutions/azure/'>Microsoft Azure</a>
                </li>
                <li>
                  <a href='//www.getchef.com/services/'>Professional Services</a>
                </li>
                <li>
                  <a href='//www.getchef.com/solutions/vmware/'>VMware</a>
                </li>
                <li>
                  <a href='//www.getchef.com/solutions/windows/'>Windows</a>
                </li>
              </ul>
            </div>
            <div class='span2'>
              <h5>
                Support
              </h5>
              <ul>
                <li>
                  <a href='http://docs.opscode.com/'>Documentation</a>
                </li>
                <li>
                  <a href='//www.getchef.com/support/'>Support</a>
                </li>
                <li>
                  <a href='//www.getchef.com/security/'>Security</a>
                </li>
                <li>
                  <a href='http://learnchef.opscode.com'>Learn Chef</a>
                </li>
                <li>
                  <a href='//www.getchef.com/training/'>Training</a>
                </li>
                <li>
                  <a href='//www.getchef.com/webinars/'>Webinars</a>
                </li>
                <li>
                  <a href='//www.getchef.com/community/'>Community Resources</a>
                </li>
              </ul>
            </div>
            <div class='span2'>
              <h5>
                About Us
              </h5>
              <ul>
                <li>
                  <a href='//www.getchef.com/blog/'>Blog</a>
                </li>
                <li>
                  <a href='//www.getchef.com/blog/media-room/'>Media Room</a>
                </li>
                <li>
                  <a href='//www.getchef.com/blog/events/'>Events</a>
                </li>
                <li>
                  <a href='//www.getchef.com/about/'>Company</a>
                </li>
                <li>
                  <a href='//www.getchef.com/blog/careers/'>Careers</a>
                </li>
                <li>
                  <a href='//www.getchef.com/customers/'>Success with Chef</a>
                </li>
                <li>
                  <a href='//www.getchef.com/partners/'>Partners</a>
                </li>
              </ul>
            </div>
            <div class='span4'>
              <h5>
                Legal
              </h5>
              <ul>
                <li>
                  <a href='//www.getchef.com/terms-of-service/'>
                    Terms and Conditions of Use
                  </a>
                </li>
                <li>
                  <a href='//www.getchef.com/privacy-policy/'>
                    Privacy Policy
                  </a>
                </li>
                <li>
                  <a href='//www.getchef.com/online-master-agreement/'>
                    Online Master License and Services Agreement
                  </a>
                </li>
                <li>
                  <a href='//www.getchef.com/service-level-agreement/'>
                    Service Level Agreement
                  </a>
                </li>
                <li>
                  <a href='http://wiki.opscode.com/display/chef/How+to+Contribute'>
                    Contributor License Agreements
                  </a>
                </li>
                <li>
                  <a href='//www.getchef.com/trademark-policy/'>
                    Trademark Policy
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class='row bottom' style='padding-top: 50px;'>
            <div class='span6'>
              <div class='copyright'>&copy; 2008-2014 Chef Software, Inc. All Rights Reserved.</div>
            </div>
            <div class='span6 text-right'>
              <a class='social-link' href='//www.facebook.com/getchefdotcom'>
                <img alt='Facebook' onerror='this.src=//www.getchef.com/images/icon-facebook.png' src='//www.getchef.com/images/icon-facebook.svg' title='Facebook'>
              </a>
              <a class='social-link' href='//twitter.com/chef'>
                <img alt='Twitter' onerror='this.src=//www.getchef.com/images/icon-twitter.png' src='//www.getchef.com/images/icon-twitter.svg' title='Twitter'>
              </a>
              <a class='social-link' href='//www.linkedin.com/groups/Chef-Users-Group-3751378'>
                <img alt='LinkedIn' onerror='this.src=//www.getchef.com/images/icon-linkedin.png' src='//www.getchef.com/images/icon-linkedin.svg' title='LinkedIn'>
              </a>
              <a class='social-link' href='//www.youtube.com/getchef'>
                <img alt='YouTube' onerror='this.src=//www.getchef.com/images/icon-youtube.png' src='//www.getchef.com/images/icon-youtube.svg' title='YouTube'>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
