<header class='navbar-fixed-top'>
  <div class='container'>
    <div class='row'>
      <div class='span10'>
        <div class='navbar navbar-inverse'>
          <div class='navbar-inner'>
            <div class='logo-container'>
              <a class='logo' href='//www.getchef.com/'>
                <img alt='Chef' onerror='this.src=//www.getchef.com/images/logo.png' src='//www.getchef.com/images/logo.svg' title='Chef'>
              </a>
            </div>
            <div class='sign-in-container text-right'>
              <div class='login-links'>
                <a href='//www.getchef.com/account/' style='white-space:nowrap'>Sign In</a>
                <a href='https://manage.opscode.com/'>Management Console</a>
              </div>
            </div>
            <div data-target='.nav-collapse' data-toggle='collapse' id='nav-toggle-button'>
              <a class='btn btn-navbar'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
              </a>
            </div>
            <div class='nav-collapse collapse'>
              <ul class='nav'>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                    Products
                    <b class='caret'></b>
                  </a>
                  <ul class='dropdown-menu'>
                    <li>
                      <a href='//www.getchef.com/chef/'>Chef</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/enterprise-chef/'>Enterprise Chef</a>
                    </li>
                  </ul>
                </li>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                    Solutions
                    <b class='caret'></b>
                  </a>
                  <ul class='dropdown-menu'>
                    <li>
                      <a href='//www.getchef.com/solutions/aws/'>Amazon Web Services</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/solutions/cloud-management/'>Cloud Management</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/coded-business/'>Coded Business</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/solutions/configuration-management/'>Configuration Management</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/solutions/docker/'>Containers</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/solutions/continuous-delivery/'>Continuous Delivery</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/solutions/devops/'>DevOps</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/solutions/google-cloud-platform/'>Google Cloud Platform</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/services/'>Professional Services</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/solutions/windows/'>Windows</a>
                    </li>
                  </ul>
                </li>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                    Learn Chef
                    <b class='caret'></b>
                  </a>
                  <ul class='dropdown-menu'>
                    <li class='first'>
                      <a href='http://docs.opscode.com'>Chef Docs</a>
                    </li>
                    <li class='first'>
                      <a href='http://learnchef.opscode.com'>Chef Tutorials</a>
                    </li>
                    <li class='first'>
                      <a href='//www.getchef.com/training/'>Training</a>
                    </li>
                  </ul>
                </li>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                    About
                    <b class='caret'></b>
                  </a>
                  <ul class='dropdown-menu'>
                    <li>
                      <a href='//www.getchef.com/blog/'>Blog</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/blog/media-room/'>Media Room</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/blog/events/'>Events</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/about/'>Company</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/careers/'>Careers</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/customers/'>Success with Chef</a>
                    </li>
                    <li>
                      <a href='//www.getchef.com/partners/'>Partners</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class='community-link' href='//www.getchef.com/community/'>Community</a>
                </li>
                <li>
                  <a class='support-link' href='//www.getchef.com/support/'>Support</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class='span2'>
        <div class='nav-callout'>
          <a class='btn btn-large btn-primary flat' href='//www.getchef.com/chef/choose-your-version/'>Get Chef</a>
        </div>
      </div>
    </div>
  </div>
</header>
