<div class="container file-not-found">
  <div class="row">
    <div class="span12">
      <div class="module small-page">
        <div class="page-header">
          <h1>Page Not Found
            <small>We're sorry for the inconvenience.</small>
          </h1>
        </div>
        <p>If you followed one of our links to get here, please let us know by
          sending an email to&nbsp;<a href="mailto:info@<%= chef_domain %>">info@<%= chef_domain %></a>.
        </p>
        <p><a href="<%= chef_www_url %>"><em>Return to the Chef home page</em></a></p>
      </div>
    </div>
  </div>
</div>
