---
title: Branding
---

<h1>Brand Guidelines</h1>
<p class="lead">
  Consistency in how we refer to our company and products is important. All of
  your questions should be answered below.
</p>
<h2>Logos</h2>
<p>
  The Chef logo means a lot of things to a lot of people. It is an emblem championing open source software and its community. It is a seal of quality and a stamp of approval from the company. Therefore it should be used proudly, consistently, and with great meaning.
</p>
<p>
  The Chef logo is always vertical. Even in horizontal layouts, such as banners or headers, the logo remains in the vertical layout. This is integral to consistency and brand recognition. Additionally, the circular logo and the name must always appear together. In some designed cases, the circular logo may appear by itself but these instances are few and far between.
</p>
<h3>Download a Logo</h3>
<p>
  <a href="/images/source/logo.ai" class="button secondary">
    <i class="fi-download"></i>
    logo.ai
  </a>
  <a href="/images/logo.svg" class="button secondary">
    <i class="fi-download"></i>
    logo.svg
  </a>
</p>
<p>
  The messaging under the logo can read one of three options: CODE CAN, CHEF.IO, or remain blank. Under no circumstances may something else be displayed in that area.
  If you see the logo with something else written beneath Chef, please alert someone on the marketing team immediately.
</p>
<h2>Terminology</h2>
<p>
  We use the following names for our products. Note capitalization:
</p>
<ul>
  <li>
    Chef Server, the Chef server
  </li>
  <li>
    Chef Manage, the Chef management console
  </li>
  <li>
    ... you get the idea.
  </li>
</ul>
<h2>Boilerplate</h2>
<h3>About Chef</h3>
<p>
  About Chef We are Chef &ndash; the leader in high-velocity IT automation. We give you a model 
  for automating IT infrastructure and applications that drive self-reliance across your development 
  and operations teams. We are the Chef community. We are tens of thousands strong. We are helping 
  your businesses become faster, safer and more flexible, so you win in today's 24&times;7 digital 
  economy. Join our movement today. <a href="http://www.chef.io">www.chef.io</a>
</p>
<h2>Questions?</h2>
<p>
  Contact <a href="mailto:marketing@chef.io">marketing@chef.io</a>.
</p>