---
title: Contributing
---

<h1>Contributing</h1>
<p class="lead">
  Want to contribute? Awesome. Here's what you need to know.
</p>
<h2>Get Access to the Repo</h2>
<p>
  Everything you see here is stored in the <%= link_to 'chef-web-core', repo_url %>
  repository on Github. If you want to contribute anything &mdash; a request, some actual code, an asset, whatever &mdash; 
  you'll need to be able to access that link. If you have any trouble doing so, ping someone in the Visual Interaction 
  room in Hipchat, and we'll help you get connected.
</p>
<h2>Submit a Request</h2>
<p>
  If you notice a bug, or have a suggestion for a feature or improvement, the best thing to do is
  <%= link_to 'submit a Github issue', "#{repo_url}/issues" %>. This lets us track your request and communicate with you
  and others as we go. If you have 
</p>
