---
title: Contributing
---

<h1>Contributing</h1>
<p class="lead">
  Want to contribute? Awesome. Here's what you need to know.
</p>
<h2>Submit an Issue or Pull Request</h2>
<p>
  If you notice a bug, bad or missing content, or have a suggestion for a feature 
  or improvement, the best thing to do is submit either a <%= link_to 'pull request', "#{repo_url}/pulls" %> 
  or <%= link_to 'issue', "#{repo_url}/issues" %> on this project's Github repository. 
  This lets us track your request and communicate with you and others about it. 
</p>
