---
title: Index
---

<h1>A Guide to CHEF Style</h1>
<p>
  This is the CHEF style guide.  It exists to make your life better, 
  so if it doesn't, <%= link_to 'let us know what we can do', repo_issues_url %> to fix that.
</p>
<%= link_to 'To the styles &rarr;', '/guide/basics' %>