---
title: Presentation Templates
---

<h1>Presentation Templates</h1>
<p class="lead">
  Presenting something soon? This stuff should help you.
</p>
<p>
  <a href="/images/presentations/chef-blank.pptx" class="button secondary">
    <i class="fi-projection-screen"></i>
    Blank Presentation (.pptx)
  </a>
</p>
