---
title: Presentation Templates
---

<h1>Presentation Templates</h1>
<p class="lead">
  Presenting something soon? Use this PowerPoint template.
</p>
<p>
  <a href="/assets/presentations/chef-blank.potx" class="button secondary">
    <i class="fi-projection-screen"></i>
    Blank Presentation Template (.potx)
  </a>
</p>
<p>
  To install the template on your Mac, copy the file into the
  <code>~/Library/Application Support/Microsoft/Office/User Templates/My Templates</code> directory, where <code>~</code> represents your home
  directory.
</p>
